#data {
  color: green;
}
#dataTitle{
  display: flex;
  justify-content: center;
  height: 5%;
  width: 100vw;
  color: green;
}
.dateSpan {
  color: #F8F8F8;
}

h1{
  font-family: monospace;
  font-size: 2em;
}
