#data {
  color: green;
}
#dataTitle{
  display: flex;
  justify-content: center;
  height: 5%;
  width: 100vw;
  color: green;
}
.dateSpan {
  color: #F8F8F8;
}
input {
  border: inset 3px grey;
  border-radius: 10px;
  font-size: 0.6em;
}
h1{
  font-family: monospace;
  font-size: 2em;
}
